* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    top: 0;
}
.note {
    background-color: white;
        padding: 5px;
        font-size: 20px;
        text-align: center;
         width: 100%;
         height: 50px;
        }

.navbar {
    background-color: black;
    color: white;
    font-weight: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    white-space: nowrap;
    padding: 5px;
    height:70px;
display: flex;
flex-wrap: wrap;

width: 100%;}

.header {
 margin-left: 30px;
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 30px;
    padding: 5px;
    font-weight: 10px;
}

.navbar a:hover {
    background-color: gray;
    padding: 10px;
    font-size: 20px;
    border-radius: 40px;
}


.header-extend {
    margin: 30px 0 0 300px;
    font-weight: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex:30%;
    background-color:rgb(218, 213, 213);
    padding: 50px;
}

.main {
    flex:70%;
    background-color: aliceblue;
    padding: 70px;
}

.side h2 {
    text-align:left;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
        }

.side p {
    text-align: left;
   
        }

        .img-with-text {
            text-align: justify;
            width: 300px;
        }
       
        
     

i {
    width: 100px;
   
}

.main a{color: black;}

a.like:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a.like:visited {
    color: rgb(255, 0, 0);
    background-color: transparent;
  
  }
  
  a.like:hover {
    color: red;
    background-color: transparent;
  }
  
  a.like:active {
    color: rgb(255, 0, 0);
    background-color: transparent;

  }

  a.like:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a.retweet:visited {
    color: rgb(21, 99, 7);
    background-color: transparent;
  
  }
  
  a.retweet:hover {
    color: rgb(21, 99, 7);
    background-color: transparent;
  }
  
  a.retweet:active {
    color: rgb(21, 99, 7);
    background-color: transparent;

  }


.main h2 {font-family: 'Bree Serif', serif;}
        
.footer {
   
    background-color: black;
    width: 100%;
        }

.footer p {
    text-align: center;
font-family: fantasy;
color:white;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }

  video {width: fit-content;}
  i {width:50px;}
}